<div class="max-w-lg mx-auto mt-16 text-center">
  <h1 class="mb-4 text-3xl font-black">Your Events</h1>
  <% @events.each do |event| %>
    <p class="text-lg leading-snug  ">
      <%= link_to event, event_path(event) %>a
    </p>
  <% end %>
</div>