<div class="max-w-lg mx-auto mt-16 text-center">
  <h1 class="mb-4 text-3xl font-black"><%= @event.name %></h1>
  <p class="text-lg leading-snug"><%= @event.location %></p>
  <p class="text-lg leading-snug"><%= @event.date %></p>
  <% @event.invitations.each do |invitation| %>
    <p class="text-lg leading-snug"><%= invitation %></p>
  <% end %>
</div>